body {
  margin: 0px !important;
}

.Bg-main-DarkView {
  background-color: #20212c;
}

.Header-DarkView-bg {
  background-color: #2b2c37;
}
.SideBar-DarkView-bg {
  background-color: #2b2c37;
}
.DarkView-Text {
  color: #fff;
}
.light-text {
  color: #000112;
}
.sideBar-text {
  color: #616a7a;
}
